.sem-background {
    background-color: transparent;
}

.letra-clara {
    color: #ececec;
}

.letra-escura {
    color: #828282;
}

.letra-titulo {
    font-family: Lato;
    font-size: 40px;
    margin-top: -20px;   
}

.margem-lateral {
    margin: 5px;
}

a, a:active, a:hover {
    text-decoration: none;
    color: black;
}

.barra-creditos {
    font-family: Lato;
    background-color: #fff;
    padding-top: 10px;
    padding-bottom: 30px;
    margin-top: -10px;
    margin-bottom: -200px;
    background-color: #d2d2d2;
}